{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Death Claim Form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'deathform/main.css' %}">
</head>
<body bgcolor="ffffaa">
	<header>
		<div style="background-color: darkblue">
			<nav><br>
				<h1 style="font-size: 30px; text-align: center">SSS DEATH CLAIM FORM</h1>
				<button onclick="window.location.href = '{% url 'deathform-home' %}';">Home</button><br>
				<button onclick="window.location.href = '{% url 'deathform-create' %}';">Create New Entry</button>
			</nav>
		</div>
	</header>
	<div class="tab">
	{% block content %}{% endblock %}
	</div>
</body>
</html>