{% extends "deathform/base.html" %}

{% block content %}

<form method="POST">
	{% csrf_token %}
	<fieldset>
		<legend>Information of SSS Member</legend>
			<table>
				{{ form.as_table }}
				<tr>
					<td> &nbsp </td>
					<td> <button type="submit">Enter</button> </td>
				</tr>
			</table>
	</fieldset>

</form>

{% endblock content %}