{% extends "deathform/base.html" %}
{% block content %}

<form method="POST">
	{% csrf_token %}
	<fieldset>
		<legend>Delete</legend>
			<table>
				<tr>
					<td> &nbsp </td>
					<td><h2>Are you certain you want to delete this entry?</h2></td>
					<td> <button type="submit">Delete</button> </td>
					<td> <a href="{% url 'relation-detail' relation.id %}">Cancel</a></td>
				</tr>
			</table>
	</fieldset>

</form>

{% endblock content %}