{% extends "deathform/base.html" %}
{% block content %}
	<table>
		{% for relation in relations %}
			<tr>
				<td bgcolor="darkblue" colspan="6"></td>
			</tr>
			<tr>
				<td><button onclick="window.location.href = '{% url 'deathform-detail' relation.id %}';">View Entry</button></td>
				<td bgcolor="lightblue">Status: </td>
				<td>{{ relation.rel }}</td>
				<td><button onclick="window.location.href = '{% url 'deathform-update' relation.id %}';">Update</button></td>
				<td><button onclick="window.location.href = '{% url 'deathform-delete' relation.id %}';">Delete</button> </td>
			</tr>
			<tr>
				<td bgcolor="lightblue"></td>
				<td bgcolor="lightblue">SSS Number</td>
				<td bgcolor="lightblue">Name</td>
				<td bgcolor="lightblue">Date of Birth</td>
				<td bgcolor="lightblue">Date of Death</td>
			</tr>
			<tr>
				<td bgcolor="lightblue"> SSS Member Details:</td>
				<td>{{ relation.deceased.d_id }}</td>
				<td>{{ relation.deceased.d_name }}</td>
				<td>{{ relation.deceased.d_birth }}</td>
				<td>{{ relation.deceased.d_death }}</td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td bgcolor="lightblue"></td>
				<td bgcolor="lightblue">SSS Number</td>
				<td bgcolor="lightblue">Name</td>
				<td bgcolor="lightblue">Date of Birth</td>
				<td bgcolor="lightblue">Contact Details</td>
			</tr>
			<tr>
				<td bgcolor="lightblue"> Claimant Details: </td>
				<td>{{ relation.claimant.c_id }}</td>
				<td>{{ relation.claimant.c_name }}</td>
				<td>{{ relation.claimant.c_birth }}</td>
				<td>{{ relation.claimant.c_contact }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}