{% extends "deathform/base.html" %}
{% block content %}
	<table>
		<tr>
			<td bgcolor="lightblue">SSS Number</td>
			<td bgcolor="lightblue">Name</td>
			<td bgcolor="lightblue">Date of Birth</td>
			<td bgcolor="lightblue">Date of Death</td>
		</tr>
		<tr>
			<td>{{ object.deceased.d_id }}</td>
			<td>{{ object.deceased.d_name }}</td>
			<td>{{ object.deceased.d_birth }}</td>
			<td>{{ object.deceased.d_death }}</td>
		</tr>
		<tr>
			<td bgcolor="lightblue">SSS Number</td>
			<td bgcolor="lightblue">Name</td>
			<td bgcolor="lightblue">Date of Birth</td>
			<td bgcolor="lightblue">Contact Details</td>
		</tr>
		<tr>
			<td>{{ object.claimant.c_id }}</td>
			<td>{{ object.claimant.c_name }}</td>
			<td>{{ object.claimant.c_birth }}</td>
			<td>{{ object.claimant.c_contact }}</td>
		</tr>
		<tr>
			<td bgcolor="lightblue">Status:</td>
			<td>{{ object.rel }}</td>
		</tr>
	</table>
{% endblock content %}