{% extends "deathform/base.html" %}
{% block content %}

<form method="POST">
	{% csrf_token %}
	<fieldset>
		<legend>Delete</legend>
					<h2>Are you certain you want to delete this entry?</h2><br><br>
					<button type="submit">Delete</button>
					<a href="{% url 'deathform-detail' relation.id %}">Cancel</a>
					<!-- <button onclick="window.location.href = '{% url 'deathform-detail' relation.id %}';">Cancel</button> -->
	</fieldset>

</form>

{% endblock content %}